/***Forgot Password***/

.forgot_password {
	width: 90%;
	margin: 10px auto;
	color: #fff;
}
.forgot_password a {
	color: #ffffff;
    text-decoration: underline;
	font-weight: bold;
}
.forgotPassword .audit_header {
	margin-bottom: 20px;
	height: 60px;
	border-bottom: 3px solid #03549c;
}
.forgotPassword .center_content {
	width: 100%;
    text-indent: 10px;
}
.forgotPassword .left_content{
	font-weight: bolder;
    color: #03549c;
    height: 100%;
    line-height: 3;
    border-left: 1px solid #ddd;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 20px 0 45px;
    display: block;
}
.forgotPassword .btn {
	margin-top: 10px;
}
.forgotPassword .container {
	padding: 0;
}
.forgotPassword .control-group {
	padding: 10px;
}
.forgotPassword input {
	margin-bottom: 10px;
}
.forgotPassword .error_message {
	margin: 0;
}
.for_box {
	padding: 10px;
}